@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-light: #e8e8e8;
  --primary: #E6C744;
  --accent: #FFF5BF;
  --secondary: #C2C8DA;
  
  --size-xxlarge: 57px;
  --size-xlarge: 46px;
  --size-large: 24px;
  --size-medium: 18px;
  --size-small: 15px;

  --space-xlarge: 30px;
  --space-large: 20px;
  --space-medium: 15px;
  --space-small: 10px;
  --space-none: 0px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --background-light: #333333;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  width: 100%;
}